<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>Fourtitude Garage</title>
  		<link rel="stylesheet" href="\static\style2.css">
	</head>
	<body>
        <img src = "\static\logo.png" style="width:455px;height:240px;margin:20px 1px 1px 1px;">
        <!--CALL TO ACTION-->
		<button onclick='openMenu()'>PROCEED TO STORE<img src = "static\arrow.png" style="width:30px;height:20px;margin:1px 1px 1px 20px;"></button>


		<script>
     	 function openMenu() {
				window.location.href = '/menu';
			}
		</script>

	</body>
</html>	
