<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Fourtitude Garage</title>
  		<link rel="stylesheet" href="\static\style4_1.css">
	</head>
	<body>
        <header>
			<div class="logo">
				<img src="\static\logo2_1.png" alt="Logo">
			</div>
			<!--NAVIGATION BUTTONS-->
			<nav>
				<ul>
					<li><a class="select-button">BUY CAR</a></li>
					<li><a href="#">RENT CAR</a></li>
					<li><a href="#">CAR SERVICES</a></li>
				</ul>
			</nav>
		</header>
        <h1>BRANDS</h1>
        <div class="brands">
            <a href="#" class="b-button">
                <img src="\static\toyota1.png">
            </a>
            <a href="#" class="b-button">
                <img src="\static\honda1.png">
            </a>
            <a href="#" class="b-button">
                <img src="\static\ford1.png">
            </a>
        </div>
		<div class="white-panel">
			<div class="panel-header">
				<div class="cart">
					<img src="\static\cart.png" style="width:250px;height:65px;">
				</div>
			</div>
			<hr class="line">
			<div class="payment-info">
				<div class="payment-item">
					<p>TOTAL: </p>
				</div>
				<div class="payment-item">
					<p>AMOUNT PAID: <input type="number" placeholder="Enter Amount"></p>
				</div>
				<div class="payment-item">
					<p>CHANGE: </p>
				</div>
				<button>CHECKOUT</button>
			</div>
		</div>
<!--			NEED JAVASCRIPT-->
			<script>

			</script>


	</body>
</html>
