<html>
	<head>
		<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Fourtitude Garage</title>
  		<link rel="stylesheet" href="\static\style3.css">
	</head>
	<body>
        <header>
			<div class="logo">
				<img src="\static\logo2_1.png" alt="Logo">
			</div>
			<!--NAVIGATION BUTTONS-->
			<nav>
				<ul>
					<li><a href="{{url_for('buy')}}" >BUY CAR</a></li>
					<li><a href="{{url_for('rent')}}">RENT CAR</a></li>
					<li><a href="{{url_for('services')}}">CAR SERVICES</a></li>
				</ul>
			</nav>
		</header>
		<div class="white-panel">
			<div class="panel-header">
				<div class="cart">
					<img src="\static\cart.png" style="width:250px;height:65px;">
				</div>
			</div>
			<hr class="line">
			<div class="payment-info">
				<div class="payment-item">
					<p>TOTAL:{{total}}			</p>
				</div>
				<div class="payment-item">
					<p>AMOUNT PAID: <input type="text" id="amt_paid" placeholder={{placeholder}}></p>
<!--					<button id="amount_paid" style="display: none;"></button>-->
				</div>
				<div class="payment-item">
					<p>CHANGE:{{change}} 		</p>
				</div>
				<button>CHECKOUT</button>
			</div>
		</div>
<!--		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>-->
<!--		<script>-->
<!--			var amtElement = document.getElementById("amt_paid");-->
<!--			amtElement.addEventListener("keydown", function (e) {-->
<!--				if (e.code === "Enter") {  //checks whether the pressed key is "Enter"-->
<!--					validate(e);-->
<!--				}-->
<!--			});-->

<!--			function validate(e) {-->
<!--				//var text = e.target.value;-->
<!--				amt_value = amtElement.value;-->
<!--				console.log(amt_value)-->
<!--				//alert("some error occured in session agent")	       //to popup alert-->
<!--				//window.location.href = '/menu';						//to navigate to other page/python-->

<!--				const s = JSON.stringify(amt_value)-->


<!--				$.ajax({												//Send data to python-->
<!--				url:"/test",-->
<!--				type:"POST",-->
<!--				contentType:"application/json",-->
<!--				data: s});-->

<!--				console.log("DONEEEE")-->
<!--				window.location.href = '/buy';-->

<!--		}-->
<!--		</script>-->
	</body>
</html>	
		